*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 200px ;
}
.carpet{
    box-shadow: 1.5px 1.5px 1px 1px black ;
    filter: contrast(150%);
}
.person{
    box-shadow: 0px 0px 30px 30px black ;
    filter: brightness(160%);
}
.car{
    box-shadow: -10px -10px 10px 10px black ;
    filter: saturate(200%);
}
img{
    display: block;
}