*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
.container{
   max-width: 1000px;
   width: 100%;
   margin: auto;
}
header{
   display: flex;
   align-items: center;
   padding: 10px 20px;
   gap: 500px;
}
.list{
   max-width: 1000px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.logo{
   position: relative;
   right: 170px;
}
.link{
   position: relative;
   right: 300px;
   margin-left: 40px;
   color: #282A3A;
}
.logos{
   position: relative;
   right: 410px;
   z-index: 1;
}
.logob{
   position: relative;
   right: 900px;
   top: -5px;
   top: px;
}
.main{
   text-align: center;
   font-size: 55px;
   color: #282A3A;
   font-family:"Playfair Display", serif;
   position: relative;
   top: 85px;
}
.text{
   text-align: center;
   color: #282A3A;
   font-size: 22px;
   position:relative;
   top: 95px;
   line-height: 30px;
}
.btn{
   display: flex;
   background-color: #6D1600;
   padding: 15px 50px;
   display: inline-block;
   font-size: 19px;
   border-radius:0 30px 0 30px ;
   position: relative;
   top: 120px;
   left: 360px;
}
.btn:hover{
   background-color: #792c19;
   transition: 500ms;
   box-shadow: 0 4px 15px #792c19;
}
.p{
   position: relative;
   right: 15px;
   color: white;
   font-family: "Xanh Mono", monospace;
   font-family: "Bodoni Moda", serif;
}
.sign{
   position: absolute;
   bottom: 10px;
   left: 230px;
   padding-right: 5px;
}
.containerimg{
   display: flex;
   justify-content: center;
   gap: 16px;
   position: relative;
   top: 160px;
}
.img{
   border-radius:0 80px 0 80px ;
}
.containersps{
   position: relative;
   top: 200px;
   height: 274px;
   max-width: 1440px;
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400px;
}
.cv{
   width: 214px;
   height: 114px;
   position: relative;
   right: 80px;
}
.c{
   width: 214px;
   height: 77px;
   font-weight: 400px;
   font-size: 64px;
   color: #282A3A;
   margin-left: 24px;
}
.v{
   width: 214px;
   height: 29px;
   font-weight: 400px;
   font-size: 24px;
   line-height: 25px;
   color: #282A3A;
}
.mr{
   width: 214px;
   height: 114px;
}
.m{
   width: 214px;
   height: 77px;
   font-weight: 400px;
   font-size: 64px;
   color: #282A3A;
   margin-left: 24px;
}
.r{
   width: 214px;
   height: 29px;
   font-weight: 400px;
   font-size: 24px;
   line-height: 25px;
   color: #282A3A;
}
.es{
   width: 214px;
   height: 114px;
   position: relative;
   left: 70px;
}
.e{
   width: 214px;
   height: 77px;
   font-weight: 400px;
   font-size: 64px;
   color: #282A3A;
   margin-left: 24px;
}
.s{
   width: 214px;
   height: 29px;
   font-weight: 400px;
   font-size: 24px;
   line-height: 25px;
   color: #282A3A;
}
.ga{
   width: 214px;
   height: 114px;
   position: relative;
   left: 140px;
}
.g{
   width: 214px;
   height: 77px;
   font-weight: 400px;
   font-size: 64px;
   color: #282A3A;
   margin-left: 24px;
}
.a{
   width: 214px;
   height: 29px;
   font-weight: 400px;
   font-size: 24px;
   line-height: 25px;
   color: #282A3A;
}
.line{
   width: 1px;
   height: 114px;
   background: #282A3A;
   position: relative;
   right: 75px;
}
.lines{
   width: 0.5px;
   height: 114px;
   background: #282A3A;
   position: relative;
   left: 10px;
}
.linet{
   width: 1px;
   height: 114px;
   background: #282A3A;
   position: relative;
   left: 65px;
}
.containert{
   position: relative;
   top: 300px;
   height: 75px;
   max-width: 1440px;
   width: 100%;
   margin: auto;
   left: 180px;
   display: flex;
}
.t{
   font-weight: 400px;
   width: 125px;
   height: 24px;
   color: #878891;
   font-size: 23px;
   position: relative;
   left: 285px;
   
}
.tt{
   width: 443px;
   height: 43px;
   font-weight: 400px;
   font-size: 39px;
   font-family:"Playfair Display", serif;
   line-height: 125px;
}
.containertype{
   position: relative;
   top: 360px;
   left: 30px;
   height: 72px;
   max-width: 556px;
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 40px;
   padding: 8px;
   background-color: #F6F6F6;
   gap: 60px;
}
.l{
   background-color: white;
   color: #696A75;
   border-radius: 40px;
   padding: 16px 60px ;
   font-weight: 400px;
   font-size: 25px;
   width: 190px;
   height: 56px;
   position: relative;
   
}
.r{
   color: #696A75;
}
.a{
   color: #696A75;
}
.containertc{
   display: flex;
   justify-content: center;
   gap: 24px;
   position: relative;
   top: 400px;
   z-index: 1;
}